.cardBox {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, .8);
    padding: 0 1.5rem;
    box-shadow: 0 5px 2px rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

}

.formGroup {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.formGroup > label {
    color: #FFF;
    font-size: .75rem;
    margin-bottom: .25rem;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}

.btnHome {
    font-weight: bold;
    font-size: large;
    background-color: #202528;
    border: none;
    color: #ff1100;
    margin: 5px;
    cursor: pointer;
    height: 3em;
    width: 5em;
    border-radius: .3em;
}

.btn:hover {
    background-color: hsl(200, 100%, 40%);
}

.container {
    /*max-width: 900px;*/
    margin: 7rem 2rem;
    width: 900px;
}

.cardListContainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

@media screen and (max-width: 700px) {
    .header {
        padding: 0;
        justify-content: space-evenly;
    }

    .container {
        margin-top: 9rem;
    }
}

@media screen and (max-width: 410px) {
    .container {
        margin-top: 13rem;
    }
}