.startContainer {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

.startContainer h1 {
    text-align: center;
    color: brown;
}

.startContainer h1:hover {
    color: #ff1100;
}

.choiceContainer {
    display: flex;

}

.firstGame {
    width: 300px;
    height: 190px;
    border: #202528 5px solid;
    cursor: pointer;
}

.firstGameTitle {
    display: none;
}

.firstGame:hover {
    border: #ff1100 5px solid;
}

.firstGame img:hover {
    background: #202528;
}

.secondGame {
    width: 300px;
    height: 190px;
    border: #202528 5px solid;
    margin-left: 5px;
    cursor: pointer;
}

.secondGame:hover {
    border: #ff1100 5px solid;
}

.secondGame img:hover {
    background: #202528;
}

@media screen and (max-width: 1100px) {
    .choiceContainer {
        flex-direction: column;
    }

    .secondGame {
        margin: 5px 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    .startContainer {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }

    .firstGame {
        width: 200px;
        height: 140px;
        border: #202528 2px solid;
    }

    .secondGame {
        width: 200px;
        height: 140px;
        border: #202528 2px solid;
    }
}


@media screen and (max-width: 460px) {
    .startContainer {
        width: 100%;
    }

    h1 {
        font-size: 1em;
    }

    .firstGame {
        width: 200px;
        height: 140px;
        border: #202528 2px solid;
    }

    .secondGame {
        width: 200px;
        height: 140px;
        border: #202528 2px solid;
    }
}
