#blink {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    font-weight: bold;
    color: #ff1100;
}

@-webkit-keyframes blink {
    0% {
        color: #ff1100;
    }
    50% {
        color: brown;
    }
    100% {
        color: #ff1100;
    }
}

@keyframes blink {
    0% {
        color: #ff1100;
    }
    50% {
        color: brown;
    }
    100% {
        color: #ff1100;
    }
}


.startContainer {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    flex-direction: column;
}

.startContainer h1 {
    text-align: center;
    color: brown;
}

/*.startContainer h1:hover {*/
/*    color: #ff1100;*/
/*}*/

.choiceContainer {
    display: flex;

}

.firstGame {
    width: 210px;
    height: 312px;
    cursor: pointer;
    border: rgba(255, 17, 0, 0) 5px solid;
}

.firstGameTitle {
    display: none;
}

.firstGame:hover {
    border: #ff1100 5px solid;
}

.firstGame img {
    width: 100%;
}

.firstGame img:hover {
    background: #202528;
}

.secondGame {
    width: 210px;
    height: 312px;
    margin-left: 5px;
    cursor: pointer;
    border: rgba(255, 17, 0, 0) 5px solid;
}

.secondGame:hover {
    border: #ff1100 5px solid;
}

.secondGame img:hover {
    background: #202528;
}

@media screen and (max-width: 1100px) {
    .choiceContainer {
        flex-direction: column;
    }

    .secondGame {
        margin: 5px 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    .startContainer {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }

}


@media screen and (max-width: 460px) {
    .startContainer {
        width: 100%;
    }

    h1 {
        font-size: 1em;
    }
}
